<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="tabs is-boxed is-medium">
    <ul>
      <li class="is-active">
        <a href="/">
          <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
          <span>Dashboard</span>
        </a>
      </li>
      {{#if logged_in}}
      <li>
        <a href="/logout">
          <span class="icon is-small"><i class="far fa-file-alt" aria-hidden="true"></i></span>
          <span>Logout</span>
        </a>
      </li>
      {{else}}
      <li>
        <a href="/login">
          <span class="icon is-small"><i class="fas fa-film" aria-hidden="true"></i></span>
          <span>Login</span>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
  <main>
    {{{ body }}}
  </main>
</body>
</html>