<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="tabs is-large">
    <ul>
      <li id="home">
        <a href="/">
          <span class="has-text-info-dark">Home</span>
        </a>
      </li>
      <li id="dashboard">
        <a href="/dashboard">
          <span class="has-text-info-dark">Dashboard</span>
        </a>
      </li>
      {{#if logged_in}}
      <li id="logout">
        <a href="/logout">
          <span class="has-text-info-dark">Logout</span>
        </a>
      </li>
      {{else}}
      <li id="login">
        <a href="/login">
          <span class="has-text-info-dark">Login</span>
        </a>
      </li>
      {{/if}}
    </ul>
  </div>
  <main>
    {{{ body }}}
  </main>
  {{#if logged_in}}
  <script src='./js/logout.js'></script>
  {{/if}}
</body>
</html>