<section class="hero-body">
    <p class="title has-text-info-dark">
        The Tech Blog
    </p>
</section>

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <form class="box blog-form">
            <h1 class="title">New Blog Post</h1>
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input class="input" id="title" type="text" placeholder="Blog Title">
                </div>
            </div>
            <div class="field">
                <label class="label">Content</label>
                <div class="control">
                    <textarea class="textarea" id="content" type="text" placeholder="Blog Content"></textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-info" id="post-btn" type="submit">Post</button>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="./js/createBlog.js"></script>