<section class="hero-body">
  <p class="title has-text-info-dark">
    The Tech Blog
  </p>
</section>
<div class="columns has-background-info-dark">
  <div class="column is-8 is-offset-1">
    <p class="subtitle has-text-info-light">
      You're logged out!
    </p>
    <p class="subtitle has-text-info-light">
      You can still view posts, but only logged in users can create new posts and add comments.
    </p>
  </div>
</div>