<disection class="hero-body">
    <p class="title">
      You're logged out!
    </p>
    <p class="subtitle">
      You can still view posts, but only logged in users can create new posts and add comments.
    </p>    
</section>