<section class="hero-body">
    <p class="title">
        The Tech Blog
    </p>
</section>

<div class="columns">
    <div class="column is-8 is-offset-1">
        <section class="hero-body">
    <p class="subtitle">
        There are no comments on this blogpost yet! Be the first to comment.
    </p>
</section>
    </div>